@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-outline {
    -webkit-text-stroke: 1.2px #e7e6e2;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
  }

  .dark-button {
    outline: solid 1px #c0ccbb;
    color: #c0ccbb;
  }

  .dark-button:hover {
    background-color: #c0ccbb;
    color: #0d2c32;
  }

  .dark-button::before{
    background-color: #c0ccbb;
  }
}





body {
  background-color: #E7E6E2;
  color: #0D2C32;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: nowrap;



}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  color: #0d2c32;
  background-color: #E7E6E2;
}

.logo {
  z-index: 3;
}

/*  */



.navbar .nav-toggle-btn {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .navbar {

    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-toggle-btn {
    cursor: pointer;
    display: block;
  }

  .navbar .nav-links {
    width: 100%;
    display: flex;
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    transition: all 0.5s, background-color 0s;
    margin: 4.5rem 0;
    z-index: 1;

  }

  .navbar .nav-links.active {
    top: 0;
    opacity: 1;
    transition: all 0.5s, background-color 0s;

    align-content: center;
  }

  .navbar .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar .nav-links li {
    text-align: center;
    padding: 0.5rem 0;
  }
}
/*  */




.button {
  display: inline-block;
  outline: solid 1px #17515C;
  outline-offset: -1px;
  border-radius: 50px;
  padding: 10px 15px;
  color: #17515C;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0%;
  height: 100%;
  background-color: #17515c;
  transition: all .3s;

  z-index: -1;
}

.button:hover {
  color: #e7e6e2;
}

.button:hover::before {
  width: 100%;
}



.button-email {
  padding-top: 50px;
}

.button-email a:hover {
  background-color: #17515C;
  color: #c0ccbb;
}

/* ===== [ GENERAL TEXTS ] ===== */

h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #0D2C32;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0D2C32;
}

@media screen and (max-width: 767px) {
 h1 {
  font-size: 50px;
 }
 
  h2 {
    font-size: 38px;
  }

  h5 {
    font-size: 26px !important;
  }
}






h3 {
  font-size: 30px;
  font-weight: 700;
  color: #0D2C32;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}

h5 {
  font-size: 40px;
  color: #17515c;
}


h6 {

  font-size: 16px;
  font-weight: 300;
  margin-top: 18px;
}

p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  /* color: #555555; */
  line-height: 2;
}

.my-icon {
  font-size: 26px;
  line-height: 30px;
  color: #17515c;
}

/* ===== [ END GENERAL TEXTS ] ===== */

/* ===== [ LANDING ] ===== */

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 2;
}

/* #blobSvg{
  width: 500px;
  height: 500px;
} */

@media screen and (max-width: 767px) {
  .blob {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .logo-hero {
    position: absolute;
    z-index: 3;
    width: 200px;
  }

  .logo-hero img {
    width: 200px;
    margin: 0 auto;
  }

}



.logo-hero {
  position: absolute;
  z-index: 3;
  width: 400px;
}

.mouse {
  width: 25px;
  height: 45px;
  border: 1px solid #0f0316;
  border-radius: 60px;
  position: absolute;
  bottom: 60px;

}

.mouse::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

.showcase-section {
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.10);

}

.showcase-section .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase-section .top {
  z-index: 5;
  -webkit-text-stroke: 1.2px #0d2c32;
  -webkit-text-fill-color: rgba(13, 44, 50, 0.1);
}

.showcase-nav {
  position: absolute;
  /* bottom: 40px; */
  left: 0;
  width: 100%;
  z-index: 8;
}


.showcase-nav .item {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.showcase-nav .item span {
  font-weight: 500;
  font-size: 12px;
}

/* remove default arrow */
.showcase-nav .item:after {
  display: none;
}


/* Intro title anim */
.animation {
  height:120px;
  overflow:hidden;
}

.animation > div > h2 {
  
  height:120px;
  /* margin-bottom: 2.81rem; */
  display:inline-block;

}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -7.5rem;}
  30% {margin-top: -7.5rem;}
  40% {margin-top: -15rem;}
  60% {margin-top: -15rem;}
  70% {margin-top: -7.5rem;}
  80% {margin-top: -7.5rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}






.projects img,
.projects .cover {
  border-radius: 10px;
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.projects .cover {
  -webkit-clip-path: inset(0 round 10px);
  clip-path: inset(0 round 10px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.projects img {
  overflow: hidden;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


.projects .cover:hover {
  -webkit-clip-path: inset(5px 10px round 10px);
  clip-path: inset(5px 10px round 10px);

}

.projects .cover:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}


.home-contact {
  background-color: #c0ccbb;
}

.home-contact {
  background: linear-gradient(-45deg, #c0ccbb, #DFDECA);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}





/* ===== [ END LANDING ] ===== */

/* ====================== [ Start Work ] ====================== */
.portfolio-section {
  position: relative;
}

.portfolio-section .filtering span {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 20px;
  cursor: pointer;
  position: relative;

}

/* .portfolio-section .filtering span.active {
  color: #17515C;
  border-bottom: solid 1px #17515c;
} */
@media only screen and (min-width: 768px) {
  .portfolio-section .filtering span:after {
    content: '';
    width: 7px;
    height: 7px;
    /* background: #17515c; */
    border-radius: 50%;
    position: absolute;
    right: -24px;
    top: 30%;
  }
  
  .portfolio-section .filtering span:last-of-type:after {
    display: none;
  }
}


.portfolio-section .filtering.smplx span {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.portfolio-section .filtering.smplx span.active {
  color: #cf81ff;
}

.portfolio-section .filtering.smplx span:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #cf81ff;
  border-radius: 50%;
  position: absolute;
  right: -24px;
  top: 40%;
}

.portfolio-section .filtering.smplx span:last-of-type:after {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-section .gallery .items {
  padding: 0 50px;
  margin: 50px 0;
}

.portfolio-section .gallery .items.lg-mr {
  margin-top: 100px;
}

.portfolio-section .gallery .items .item-img {
  overflow: hidden;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.portfolio-section .gallery .items .item-img>a {
  display: block;
}

.portfolio-section .gallery .items .item-img:hover {
  -webkit-clip-path: inset(5px 10px);
  clip-path: inset(5px 10px);
}

.portfolio-section .gallery .items .item-img:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.portfolio-section .gallery .items .item-img:hover .cont {
  opacity: 1;
}

.portfolio-section .gallery .items .item-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.portfolio-section .gallery .items .item-img .cont {
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: left;
  padding-left: 30px;
  opacity: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.portfolio-section .gallery .items .item-img .cont span {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: 'Barlow Condensed', sans-serif;
}

.portfolio-section .gallery .items .item-img .cont span a {
  margin: 0 10px 0 0;
}

.portfolio-section .gallery .items .cont {
  margin-top: 30px;
  text-align: center;
}

.portfolio-section .gallery .items .cont h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.portfolio-section .gallery .items .cont span {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Barlow Condensed', sans-serif;
}

.portfolio-section .gallery .items .cont span a {
  margin: 0 5px;
}

.portfolio-section .gallery .bords .item-img {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.portfolio-section .gallery .bords .cont {
  border: 1px solid rgba(255, 255, 255, 0.03);
  margin-top: 0;
  border-top: 0;
  padding: 10px;
}

.portfolio-section.full-bg {
  position: relative;
}



.portfolio-section.full-bg .glry-img,
.portfolio-section.full-bg .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-section.full-bg .glry-img {
  overflow: hidden;
}

.portfolio-section.full-bg .glry-img .bg-img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  background-size: cover;
  background-position: center center;
}

.portfolio-section.full-bg .glry-img .bg-img.current {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}


/* ABOUT */

.service {
  background-color: white;
  border-radius: 10px;
}



.skills-container {
  background-color: #fff;
}

.skills-container .item {
  padding: 0 30px;
}

.skills-container .item h4:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #c0ccbb;
  border-radius: 50%;
  position: absolute;
  margin-left: 23px;
  top: 36%;
}

@media screen and (max-width: 1023px) {
  .skills-container .item h4:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #c0ccbb;
    border-radius: 50%;
    position: absolute;
    margin-left: 23px;
    top: 30%;
  }
}

/* ====================== [ Start Tools ] ====================== */

.tools-container {
  background-color: #c0ccbb;
}

.tools-container img {
  width: 40px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}


.tools-container .item {
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.tools-container .tech {
  font-size: 18px;
  font-weight: 600;
  color: #17515c;
line-height: 2px;
padding-top: 0px;
margin: 0;
  padding-left: 10px;


}



/* ====================== [ End Skills ] ====================== */

.job-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.job-title h6 {
  font-size: 14px;
  letter-spacing: normal;
  margin-bottom: 0;
  padding-right: 10px;
}

.job-title h5 {
  font-weight: 200;
}


/* ====================== [ Start contact ] ====================== */
.contact-sec .form-group {
  margin-bottom: 30px;
}

.contact-sec .form-group input,
.contact-sec .form-group textarea {
  width: 100%;
  padding: 15px 0;
  /* border: 0;
  border-bottom: 1px solid rgba(13, 44, 50, 0.7); */
  background: transparent;

  font-size: 12px;
}



/* .contact-sec button {

  font-size: 17px;
  background: transparent;
  border: 0;
  position: relative;
  padding: 7px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
} */



/* ====================== [ End contact ] ====================== */



.detail-hero img{
  
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  margin: auto;
}

.detail-hero span{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.detail-hero .tech img{
  height: 24px;
width: 24px;
  padding: 0;
  margin: 0;
}

.detail-hero .tech {
height: 100%;
}

.detail-hero li {
  height: 64px;
}















.detail-hero a {
  color: #000;
  position: relative;
  text-decoration: none;
  height: 100%;

}



.detail-hero a::before {
  background: #c0ccbb;
  content: "";
  inset: 0;

  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.detail-hero a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.detail-gallery img{
  object-fit: cover;
}
